.repository-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8ff;
  border-radius: 10px;
  padding: 25px 15px;
  margin: 15px;
  width: 220px;
}

.repository-img {
  width: 50px;
}

.repo-title {
  color: #e73959;
  font-size: 20px;
  font-weight: 400;
}

.repo-details-container {
  color: #1e293b;
}

.repo-details-text {
  font-size: 14px;
}

.repo-icons {
  width: 15px;
  margin-right: 8px;
}
